body{
    background-color: #FFFFFF;
    position: fixed;
}

/* Sign up button */
.sign-up{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1015px;
    top: 25px;

    font-family: Poppins;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Sign in button */
.sign-in{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1130px;
    top: 25px;

    font-family: Poppins;

    background: #FA9746;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #EAF3FA;
}

.sign-in:hover{
    background: #FA9746;
    opacity: 0.9;
}

.text-aplikasi{
    position: absolute;
    left: 80px;
    top: 80px;

    color: #0D154A;

    font-family: Poppins;
    font-size: 80px;
}

.text-simpan{
    font-family: Poppins;
    font-size: 72px;

    color: #0D154A;

    position: absolute;
    left: 80px;
    top: 185px;
}

.text-pinjam{
    font-family: Poppins;
    font-size: 72px;

    color: #0D154A;

    position: absolute;
    left: 80px;
    top: 280px;
}

.description-title{
    position: absolute;
    width: 310px;
    height: 70px;
    left: 80px;
    top: 400px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    
    color: #0D154A;
}

.images{
    position: absolute;
    width: 940px;
    height: 604px;
    left: 410px;
    top: 115px;
}

.circle1{
    position: absolute;
    width: 750px;
    height: 750px;
    left: -171.5px;
    top: -153px;
    
    border-radius: 100%;

    background: #EAF3FA;
}

.circle2{
    position: absolute;
    width: 630px;
    height: 600px;
    left: -100px;
    top: 340px;

    border-radius: 100%;

    background: #EAF3FA;
}

.nav-title{
    /* ASP. */
    position: absolute;
    width: 39px;
    height: 27px;
    left: 60px;
    top: 33px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #0D154A;
}